<% @contracts.each do |contract| %>
  <h4>Symbol: <%= contract.symbol %> </h4></br>
  <h4>Strike: <%= contract.strike %> </h4></br>
  <h4>Currency: <%= contract.currency %> </h4></br>
  <h4>Expiry: <%= contract.expiry %> </h4></br>
  <p>Followinf are the IBBAR data associated with above contract</p>
  <%= contract.ib_bars %>
<% end %>  

  
