<%= link_to "create contract", new_ibcontract_path %>
<h4>Historical data</h4>
<%= form_tag( ibdata_historical_data_path , method: :post) do %>
  <div>
	<label>Symbol</label>
	<%= text_field_tag 'symbol', nil, :placeholder => "Example aapl", :required => true %>
  </div>
  <div>
    <label>currency</label>
    <%= text_field_tag 'currency', nil, :placeholder => "Example USD", :required => true %>
  </div>
  <div>  
    <label>sec_type</label>
    <%= text_field_tag 'sec_type', nil, :placeholder => "Example stock", :required => true %>
  </div>
  <div>  
    <label>description</label>
    <%= text_field_tag 'description', nil, :placeholder => "Example Apple Inc" %>
  </div>  
  <div>
    <%= submit_tag 'submit'%>
  </div>  
<% end %>